# ignore the logs and the full data
/wandb_logs/wandb/

/Datasets/BrainAgeDataset/data/*
!/Datasets/BrainAgeDataset/data/README.md

/experiments/brain_age_prediction/temp_configs/*
!/experiments/brain_age_prediction/temp_configs/README.md

/Datasets/ADNI_2023/ADNI/*
!/Datasets/ADNI_2023/ADNI/README.md

/experiments/AD_classification/temp_configs/*
!/experiments/AD_classification/temp_configs/README.md

/experiments/mode_delivery_prediction/checkpoints/*
/pyproj/artifacts/


/Datasets/Obstetrics/retrospective-dataset/images/*
Datasets/Obstetrics/prospective-dataset/prospective_images/*

__pycache__/
.pyc